body {
    height: 100%;
    width: 100%;
    margin: 0px;
}
#logotipo {
    z-index: 2;
    position: relative;
    top: 10px;

}

#banner {
    width: 100%;
    height: 1080px;
    position: relative;
    background: url("images/banner.png") no-repeat;
    top: 0px;
    margin-top: -90px;
}
input{
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 300;
    background-color: #161d31;
    border-top: none;
    border-left: none;
    border-right: none;
    border-style: unset 0.5px #cccbcb;
    
    width: 200px;
    
}

.contLogin{
    width: auto;
    height: 300px;
    background-color: #161d31;
    margin-top: 40%;
    margin-bottom: 25%;
    margin-left: 10%;
     margin-right: 10%;
    border: solid 3px #ffffff;

   
}

.formLogin{
   
    height: 20%;
    margin-left: 15%;
    margin-top: 20%;
     
}


.esquerda{
    background-color: #161d31;
    height: auto; 
    
   
}

.direita{
    background-color: #161d31;
    height: auto;
    
}
.texto{
    margin-top: 30%;
    margin-bottom: -30%;
    margin-left: 15%;
}

.texto h1{
    color: #0eb5da;
}
.texto h4 {
    color: #ffffff;
    font-size: 20px;
}
.footer{
    background-color: darkgreen;
    height: auto;
}

.groupButton1 {
    margin-left: 12%;
    margin-top: 10%;
    
    
}

.groupButton2 {
 
    margin-top: 5%;


}

  


button.css3button {
    font-family: "Open sans";
    font-size: 11px;
    color: #0eb5da;
    padding: auto;
    background: -webkit-gradient(linear, left top, left bottom,
            from(#161d31),
            to(#161d31));
    
    border-radius: 0px;
    border: 1px solid #fcfcfc;
    margin-left: 10%;
    width: 70px;
    padding: 8px 5px;

}

button.css3button2 {
    font-family: "Open sans";
    font-size: 11px;
    color: #0eb5da;
    padding: 1px 1px;
    background: -webkit-gradient(linear, left top, left bottom,
            from(#161d31),
            to(#161d31));
    background: linear-gradient(top,
            #161d31 0%,
            #161d31);
    border-radius: 0px;
    border: 0px solid #fcfcfc;
    margin-left: 50px;
    margin-right: 30px;
    margin-top: 10px;
    float: right;
}

.footer{
    background-color: #f6f6f8;
}

button.css3button3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    padding: 10px 10px;
    background: -webkit-gradient(linear, left top, left bottom,
            from(#f6f6f8),
            to(#f6f6f8));
    background: linear-gradient(top,
            #f6f6f8 0%,
            #f6f6f8);
    border-radius: 0px;
    border: 0px solid #fcfcfc;

}

#copyR {
    color: rgb(201, 199, 199);
}

#rodapeRow {
    margin-left: 20%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.redes-sociais ul li {
    display: inline-block;
    list-style: none;
    padding: 6px;
    margin-top: 48%;


}

.botaoEntrar {
    display: inline-block;
}

#inputLogin{
    width: 240px;

}

@media only screen and (max-width: 1024px) {
    #inputLogin {
        width: auto;

    }
}